<mat-tab-group>
    <mat-tab label="National Institutes">
        <div class="item col-md-6 col-sm-6">
            <div class="card-body">
                <div class="mt-5">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>S.NO.</th>
                                    <th>Institute Name</th>
                                    <th>Institute Website</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Indian Institute of Technology (IIT) Bhilai</td>
                                    <td><a href=" https://www.iitbhilai.ac.in/">https://www.iitbhilai.ac.in/ </a></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>National Institute of Technology Raipur</td>
                                    <td><a href="http://www.nitrr.ac.in/">http://www.nitrr.ac.in/ </a></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Indian Institute of Management Raipur</td>
                                    <td><a href="http://raipur.gov.in">http://raipur.gov.in</a></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>International Institute of Information Technology, Naya Raipur</td>
                                    <td><a href="https://www.iiitnr.ac.in/">https://www.iiitnr.ac.in/ </a></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>All India Institute of Medical Sciences Raipur</td>
                                    <td><a href="https://www.aiimsraipur.edu.in/">https://www.aiimsraipur.edu.in/ </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Universities">
        <div class="item col-md-6 col-sm-6">
            <div class="card-body">
                <div class="mt-5">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>S.NO.</th>
                                    <th>Institute Name</th>
                                    <th>Institute Website</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Chhattisgarh Swami Vivekananda Technical University</td>
                                    <td><a href=" https://www.csvtu.ac.in/">https://www.csvtu.ac.in/ </a></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Pandit Ravishankar Shukla University</td>
                                    <td><a href="https://www.prsu.ac.in/">https://www.prsu.ac.in/ </a></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Indira Gandhi Krishi Vishwavidyalaya</td>
                                    <td><a href="http://igau.edu.in/">http://igau.edu.in/</a></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Guru Ghasidas Vishwavidyalaya</td>
                                    <td><a href="http://www.ggu.ac.in/">http://www.ggu.ac.in/ </a></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Hidayatullah National Law University</td>
                                    <td><a href="https://hnlu.ac.in/">https://hnlu.ac.in/ </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Colleges"> Content 3 </mat-tab>
</mat-tab-group>