<div class="my-5" id="b-homedb">
    <h1><i class="fa fa-graduation-cap" aria-hidden="true"> </i>Education</h1>


    <div class="my-5" id="b-homedb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="card text-black h-100 ">
                        <div class="card-body ">
                            <p>
                                According to the census, 2011, the literacy rate in Chhattisgarh's was at 71.04% which has improved considerably from census, 2001 (64.66%). Male and Female literacy rate as per censes, 2011 are 81.45% and 60.59% respectively.
                            </p>
                            <p>
                                Education in Chhattisgarh is good. There are many universities and colleges that are famous nationally including IIT-Bhilai, IIIT Raipur , NIT Raipur; IIM Raipur; Hidayatullah National Law University, Raipur etc. Chhattisgarh is mainly famous for the
                                number of engineering colleges which is 49 (till 2011) in total in different cities across the state.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="card text-black h-100 ">
                        <div class="card-body ">

                            <mat-tab-group>
                                <mat-tab label="National Institutes">

                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>S.NO.</th>
                                                    <th>Institute Name</th>
                                                    <th>Institute Website</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Indian Institute of Technology (IIT) Bhilai</td>
                                                    <td><a href=" https://www.iitbhilai.ac.in/">https://www.iitbhilai.ac.in/
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2.</td>
                                                    <td>National Institute of Technology Raipur</td>
                                                    <td><a href="http://www.nitrr.ac.in/">http://www.nitrr.ac.in/
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.</td>
                                                    <td>Indian Institute of Management Raipur</td>
                                                    <td><a href="http://raipur.gov.in">http://raipur.gov.in</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4.</td>
                                                    <td>International Institute of Information Technology, Naya Raipur
                                                    </td>
                                                    <td><a href="https://www.iiitnr.ac.in/">https://www.iiitnr.ac.in/
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.</td>
                                                    <td>All India Institute of Medical Sciences Raipur
                                                    </td>
                                                    <td><a href="https://www.aiimsraipur.edu.in/">https://www.aiimsraipur.edu.in/
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </mat-tab>
                                <mat-tab label="Universities">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>S.NO.</th>
                                                    <th>Institute Name</th>
                                                    <th>Institute Website</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Chhattisgarh Swami Vivekananda Technical University
                                                    </td>
                                                    <td><a href=" https://www.csvtu.ac.in/">https://www.csvtu.ac.in/
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.</td>
                                                    <td>Pandit Ravishankar Shukla University</td>
                                                    <td><a href="https://www.prsu.ac.in/">https://www.prsu.ac.in/
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.</td>
                                                    <td>Indira Gandhi Krishi Vishwavidyalaya</td>
                                                    <td><a href="http://igau.edu.in/">http://igau.edu.in/</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4.</td>
                                                    <td>Guru Ghasidas Vishwavidyalaya</td>
                                                    <td><a href="http://www.ggu.ac.in/">http://www.ggu.ac.in/
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.</td>
                                                    <td>Hidayatullah National Law University</td>
                                                    <td><a href="https://hnlu.ac.in/">https://hnlu.ac.in/
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Colleges">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>S.NO.</th>
                                                    <th>Institute Name</th>
                                                    <th>Institute Website</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1.</td>
                                                    <td>C.M. Dubey Postgraduate College, Bilaspur</td>
                                                    <td>
                                                        <a href=" "> </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="imp-img-cir ">
        <div id="flexCarousel " class="flexslider carousel ">
            <owl-carousel-o [options]="customOptions ">
                <ng-template carouselSlide>
                    <div class="card">
                        <a target="_blank" href="http://www.nitrr.ac.in/"><img class="img-thumbnail" src="assets/images/big/nit.jpg " alt="Card image cap "></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="card">
                        <a target="_blank" href="https://www.prsu.ac.in/"><img class="img-thumbnail" src="assets/images/big/rsu.jpg" alt="Card image cap "></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="card">
                        <a target="_blank" href="https://www.aiimsraipur.edu.in/"><img class="img-thumbnail" src="assets/images/big/aiims.jpg " alt="Card image cap "></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="card">
                        <a target="_blank" href="https://hnlu.ac.in/"><img class="img-thumbnail" src="assets/images/big/hidh.jpg " alt="Card image cap "></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="card">
                        <a target="_blank" href="https://www.iimraipur.ac.in/"><img class="img-thumbnail" src="assets/images/big/iim.jpg " alt="Card image cap "></a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>