<div class="my-5" id="b-homedb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="{{rootUrl + deptdata.cm_pic_url}}">
                    </div>
                    <div class="team-content">
                        <h3 class="name">{{deptdata.cm_name_en}}</h3>
                        <h4 class="title">{{deptdata.cm_post_en}}<br> Chhattisgarh</h4>
                    </div>
                    <!-- <ul class="social">
                                <li>
                                    <a href="" class="fa fa-facebook" aria-hidden="true"></a>
                                </li>
                                <li>
                                    <a href="" class="fa fa-twitter" aria-hidden="true"></a>
                                </li>
                                <li>
                                    <a href="" class="fa fa-google-plus" aria-hidden="true"></a>
                                </li>
                                <li>
                                    <a href="" class="fa fa-linkedin" aria-hidden="true"></a>
                                </li>
                            </ul> -->
                </div>
                <!-- <div class="card text-center">                   
                    <div class="card-body">
                        <img class="img-fluid" src="{{rootUrl + deptdata.cm_pic_url}}" alt="">
                        <h3 class="name">{{deptdata.cm_name_en}}</h3>
                        <h4 class="title">{{deptdata.cm_post_en}}<br> Chhattisgarh</h4>
                    </div>
                </div> -->
            </div>
            <div class=" col-md-8 ">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="assets/images/banner/slider-1.jpg" alt="First slide">
                            <div class="slide-caption text-center">
                                <div class="h5"></div>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="carousel-item" *ngFor="let item of carousel">
                            <img class="d-block w-100" src="{{rootUrl + item.linkurl}}" alt="item.alt">
                            <div class="slide-caption text-center">
                                <div class="h5">{{item.imagetitle_en}}</div>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{{rootUrl + deptdata.dept_min_pic}}" alt="">
                        <h3 class="name">{{deptdata.dept_minister_name_en}}</h3>
                        <h4 class="title">{{deptdata.dept_minister_post_en}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <marquee>
            <p style=" font-family: Impact; font-size: 10pt; color: rgb(32, 11, 126); ">
                <i class='fa fa-bell faa-ring animated fa-2x'></i> This is the new website for CGSTATE-PORTAL
                <a href=" " target=" _blank "><b>&nbsp;क्लिक करें</b></a>
            </p>
        </marquee>
    </div>
</div>

<div class="my-5" id="b-homedb">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-4 col-sm-6">
                <div class="card-header text-center"> <i class="fa fa-bell" aria-hidden="true"></i> Notice Board</div>
                <div class="card-body">
                    <ul class="list-group">
                        <div *ngFor="let t of noticeboarddata">
                            <li class="list-group-item">{{t.linkname}}
                                <a style="cursor: pointer;" target="_blank" href="{{rootUrl + t.menu_tab_linkurl}}">
                                    <mat-icon>file_download</mat-icon>
                                    <img src="../../assets/images/pdficon.jpg" alt="">
                                </a>
                            </li>
                        </div>
                    </ul>
                    <a class="read-more" routerLink='deptnotice'>Read more</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="card-header text-center"> <i class="fa fa-newspaper-o" aria-hidden="true"></i> What's New
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let t of newdata">

                            <ul>
                                <div *ngIf=" t.doctype=='P' ">
                                    <li class=" list-group-item ">
                                        <a target=" _blank " href=" {{rootUrl + t.linkurl}} ">{{t.linkname}}
                                            <mat-icon>file_download</mat-icon>
                                            <img src=" ../../assets/images/pdficon.jpg " alt=" ">
                                        </a>
                                    </li>
                                </div>

                                <div *ngIf=" t.doctype=='I' ">
                                    <li class=" list-group-item ">
                                        <a target=" _blank " href=" {{t.linkurl}} ">{{t.linkname}}
                                            <mat-icon>file_download</mat-icon>
                                        </a>
                                    </li>
                                </div>


                                <div *ngIf=" t.doctype=='L' ">
                                    <li class=" list-group-item ">
                                        <a target=" _blank " href=" {{t.linkurl}} ">{{t.linkname}}</a>
                                    </li>
                                </div>
                            </ul>

                        </div>
                        <a class="read-more" routerLink='deptnew'>Read more</a>
                    </div>
                </div>
            </div>

            <div class="card col-md-4 col-sm-6">
                <div class="card-header text-center"> <i class="fa fa-info-circle" aria-hidden="true"></i> Important Information
                </div>
                <div class="card-body">
                    <!-- <marquee direction="up"> -->
                    <ul class=" list-group ">
                        <div *ngFor=" let t of impldata ">
                            <div *ngIf=" t.doctype=='L' ">
                                <li class=" list-group-item ">
                                    <a target=" _blank " href=" {{t.linkurl}} ">{{t.linkname}}</a>
                                </li>
                            </div>
                            <div *ngIf=" t.doctype=='P' ">
                                <li class=" list-group-item ">{{t.linkname}}
                                    <a target=" _blank " href=" {{rootUrl + t.linkurl}} ">
                                        <mat-icon>file_download</mat-icon>
                                        <img src=" ../../assets/images/pdficon.jpg " alt=" ">
                                    </a>
                                </li>
                            </div>
                        </div>
                    </ul>
                    <!-- </marquee> -->
                    <a class="read-more" routerLink='deptimpinfo'>Read more</a>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="my-5" id="b-homedb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6">

                <div class="card text-white h-100 ">

                    <div class="card-header text-center"></div>
                    <div class="card-body">

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">

                <div class="card text-white h-100 ">

                    <div class="card-header text-center"></div>
                    <div class="card-body">

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">

                <div class="card text-white h-100 ">

                    <div class="card-header text-center"></div>
                    <div class="card-body">

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">

                <div class="card text-white h-100 ">

                    <div class="card-header text-center"></div>
                    <div class="card-body">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="imp-img-cir ">
        <div id="flexCarousel " class="flexslider carousel ">
            <owl-carousel-o [options]="customOptions ">
                <ng-template carouselSlide *ngFor="let item of gallery">
                    <div class="card-header text-center">{{item.imagetitle_en}}</div>
                    <div class="card">
                        <a target="_blank" routerLink='/gallery'><img class="img-thumbnail" src="{{rootUrl + item.linkurl}} " alt="Card image cap "></a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>