<!--Top-Header Section end-->
<section class="wrapper header-wrapper">
    <div class="container-fluid">
        <h1 class="logo">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" title="Home" rel="home" class="header__logo" id="logo">
                <img class="" src="assets/images/cglogo.png" style="width: 115px;" alt="Chhattisgarh Emblem Logo">
                <strong style="font-size: 100%;">छत्तीसगढ़ सरकार</strong>
                <span>Government of Chhattisgarh</span>
            </a>
        </h1>

        <div class="header-right clearfix">
            <div class="right-content clearfix">

                <div class="float-element">
                    <a class="header__logo"><img src="assets/images/implogo.png" style="width: 115px;" alt="Swachh Bharat"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.header-wrapper-->



<div class="wrapper megamenu-wraper">
    <div class="container-fluid">
        <app-menu></app-menu>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>