<div class="my-5" id="b-homedb">
    <h1>Government Departments</h1>
    <div class="container-fluid">
        <mat-tab-group>
            <mat-tab label="A">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Agriculture Department</div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://agriportal.cg.nic.in/PortHi/"><img class="card-img-top" src="assets/images/department/agriculture.jpg " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Agriculture Department</div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://agriportal.cg.nic.in/ahd/ahdEn/default.aspx"><img class="card-img-top" src="assets/images/department/animal.jpg " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Universities">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>S.NO.</th>
                                            <th>Institute Name</th>
                                            <th>Institute Website</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td>Chhattisgarh Swami Vivekananda Technical University</td>
                                            <td><a href=" https://www.csvtu.ac.in/">https://www.csvtu.ac.in/ </a></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>Pandit Ravishankar Shukla University</td>
                                            <td><a href="https://www.prsu.ac.in/">https://www.prsu.ac.in/ </a></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>Indira Gandhi Krishi Vishwavidyalaya</td>
                                            <td><a href="http://igau.edu.in/">http://igau.edu.in/</a></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Guru Ghasidas Vishwavidyalaya</td>
                                            <td><a href="http://www.ggu.ac.in/">http://www.ggu.ac.in/ </a></td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>Hidayatullah National Law University</td>
                                            <td><a href="https://hnlu.ac.in/">https://hnlu.ac.in/ </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Colleges">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>S.NO.</th>
                                            <th>Institute Name</th>
                                            <th>Institute Website</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td>C.M. Dubey Postgraduate College, Bilaspur</td>
                                            <td>
                                                <a href=" "> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>