<div class="row">
    <div class="col-md-12">
        <div class="card-header text-center">
            <i class="fa fa-building-o" aria-hidden="true"></i> Government Departments
        </div>
    </div>
</div>

<div class="my-5" id="b-homedb">
    <div class="container-fluid">
        <mat-tab-group>
            <mat-tab label="A">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Agriculture Department</div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://agriportal.cg.nic.in/PortHi/"><img class="card-img-top" src="assets/images/department/agriculture.jpg " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Agriculture Department</div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://agriportal.cg.nic.in/ahd/ahdEn/default.aspx"><img class="card-img-top" src="assets/images/department/animal.jpg " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="B">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">

                                </div>
                                <div class="col-md-4 col-sm-6">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="C">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Chhattisgarh Board of Revenue Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://revenue.cg.nic.in/Default.aspx"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Chhattisgarh Professional Examination Board
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://vyapam.cgstate.gov.in/"><img class="card-img-top" src="assets/images/department/vyapam.jpg " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Commerce and Industries Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://industries.cg.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Commercial Tax- GST Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://comtax.cg.nic.in/"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Culture & Archaeology Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://www.cgculture.in/"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="D">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Department of Horticuture and Farm Forestry
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://agriportal.cg.nic.in/horticulture/HortiEn/Default.aspx "><img class="card-img-top" src="assets/images/department/hoticulture.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="E">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Electronics and Information Technology Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://www.chips.gov.in/"><img class="card-img-top" src="assets/images/department/Chips.jpg " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Energy Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://www.cgstate.gov.in/web/department-of-energy/home"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="F">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Fisheries Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://agriportal.cg.nic.in/fisheries/FishEn/Default.aspx"><img class="card-img-top" src="assets/images/department/logo_fish.jpg " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Food,Civil Supplies & Consumer Protection Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://khadya.cg.nic.in/Index.aspx"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Forest Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://www.cgforest.com/"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="G">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">General Administration Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://gad.cg.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="H">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Higher Education Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://highereducation.cg.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Health & Family Welfare & Medical Education Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://www.cghealth.nic.in/cghealth17/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </mat-tab>
            <mat-tab label="I">

            </mat-tab>
            <mat-tab label="J">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Jail Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://jail.cg.gov.in/index.html"><img class="card-img-top" src="assets/images/department/jail.gif" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>

</div>

<div class="my-5" id="b-homedb">
    <div class="container-fluid">
        <mat-tab-group>
            <mat-tab label="K">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">

                                </div>
                                <div class="col-md-4 col-sm-6">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="L">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card-header text-center">Labour Department
                                    </div>
                                    <div class="card-body">
                                        <a target="_blank" href="https://cglabour.nic.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="M">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card-header text-center">Manpower Department
                                    </div>
                                    <div class="card-body">
                                        <a target="_blank" href="http://cgemployment.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Mining Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://chhattisgarhmines.gov.in//"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="O">

            </mat-tab>
            <mat-tab label="P">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Panchayat and Rural Development Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://prd.cg.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Parliamentary Affairs Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://cgparliamentary.cgstate.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Planning, Economics & Statistics Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://descg.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Public Health Engineering Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://phed.cg.gov.in/en"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Public Relation Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://www.dprcg.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Public Work Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://pwd.cg.nic.in/"><img class="card-img-top" src="assets/images/department/cglogo.png " alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Q">

            </mat-tab>
            <mat-tab label="R">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Redrassal of Public Grievances Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://janshikayat.cg.nic.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Registration and Stamp Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://igrs.cgstate.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Resident Commissioner
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://rcchhattisgarh.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">

                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Revenue and Disaster Management Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://revenue.cg.nic.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card text-white h-100 ">
                        <div class="card-header text-center">Real Estate and Regulation Department
                        </div>
                        <div class="card-body">
                            <a target="_blank" href="https://rera.cgstate.gov.in/#"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="S">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Social Welfare Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://sw.cg.gov.in/en"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">School Education Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://eduportal.cg.nic.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Science & Technology Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://cgcost.nic.in/privacy-policy"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Scheduled Tribal and Scheduled Caste Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://tribal.cg.gov.in/privacy-policy"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Sports Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://www.sportsyw.cg.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="T">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Technical Education Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://cgdteraipur.cgstate.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Tourism Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://www.chhattisgarhtourism.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Town and Country Planning Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://tcp.cg.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Transport Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="http://www.cgtransport.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="U">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card text-white h-100 ">
                                        <div class="card-header text-center">Urban Development Department
                                        </div>
                                        <div class="card-body">
                                            <a target="_blank" href="https://uad.cg.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>

<div class="my-5" id="b-homedb">
    <div class="container-fluid">
        <mat-tab-group>
            <mat-tab label="V">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">

                                </div>
                                <div class="col-md-4 col-sm-6">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="W">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card-header text-center">Water Resources Department
                                    </div>
                                    <div class="card-body">
                                        <a target="_blank" href="https://cgwrd.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="card-header text-center">Women and Child Development Department
                                    </div>
                                    <div class="card-body">
                                        <a target="_blank" href="http://cgwcd.gov.in/"><img class="card-img-top" src="assets/images/department/cglogo.png" alt="Card image cap "></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="X">

            </mat-tab>
            <mat-tab label="Y">

            </mat-tab>
            <mat-tab label="Z">

            </mat-tab>
        </mat-tab-group>
    </div>

</div>