<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #9db9cf;font-weight: bold; font-size:18px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav-menu" *ngFor="let menu of menus">
            <li *ngIf="!menu.submenu.length" [class.active-item]="selectedPath === menu.path" class="nav-item">
                <a class="nav-link" [routerLink]="[menu.path]" routerLinkActive="router-link-active">{{menu.title}} </a>
            </li>

            <li *ngIf="menu.submenu.length" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{menu.title}}
                </a>
                <div class="dropdown-menu sub-nav col-1" aria-labelledby="navbarDropdown">
                    <ul class="sub-nav-group">
                        <li *ngFor="let sub of menu.submenu">
                            <a class="dropdown-item" [routerLink]="[sub.path]" routerLinkActive="router-link-active">{{sub.title}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
<nav class="main-menu clearfix" id="overflow_menu">
    <ul class="nav-menu clearfix">
    </ul>
</nav>
<app-loader></app-loader>