.card-header {
    font-size: 22px;
    color: rgb(243, 242, 247);
    font-weight: bold;
    background-color: #27a7ac;
}

th {
    background: #27a7ac;
    font-size: 18px;
    font-weight: bold;
    color: rgb(252, 252, 253);
    text-align: center;
}

td {
    font-size: 16px;
}

p {
    font-size: 16px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}