.card-header {
    font-size: 22px;
    color: rgb(243, 242, 247);
    font-weight: bold;
    background-color: #0d0952;
}

///////////////////////////////////////////////////////
th {
    background: #0d0952;
    font-size: 20px;
    font-weight: bold;
    color: rgb(252, 252, 253);
    text-align: center;
}

td {
    font-size: 16px;
}

p {
    font-size: 16px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mat-column-sn {
    width: 12px;
    border-right: 1px solid currentColor;
    padding-right: 18px;
    text-align: justify;
}

.mat-column-linkname {
    width: auto;
    border-right: 1px solid currentColor;
    padding-right: 28px;
    text-align: justify;
}

h1 {
    font-size: 25px;
    color: #0d0952;
    font-weight: 200px;
    text-align: center;
}

/////////////////////// image -hover////////////////////