<div class="mt-4" id="b-inner-sec">
    <div class="container">

        <h3 class="text-center mt-5"><span>Introduction</span></h3>
        <p>
            <strong>Food and Drugs Administration</strong> under <strong>Health and Family Welfare
                Department Government of Chhattisgarh</strong> is discharging its mandate to have effective and efficient control over the illegal import, manufacture, sale and distribution of not of standard quality, misbranded, spurious, adulterated
            and banned drugs and adulterated and unsafe food products in the state of Chhattisgarh through the implementation of the following major acts and various Rules and Regulations made thereunder.
        </p>
    </div>
</div>

<div class="mb-5">
    <div class="container">
        <h2 class="">Organization Structure</h2>
        <div class="mt-5">
            <h3 class="text-center"><span>Statutory Functions Undertaken by Drugs Administration</span></h3>
            <!-- <div class="text-center float-none float-sm-right pl-sm-4 pb-3">
                <img class="" src="images/inner-img/img1.jpg" width="225" height="150" alt="First Example picture">
            </div> -->
            <p> Licensing of Drug manufacturing and sales establishments. <br> Approval of Drug formulations for manufacture. <br> Monitoring of quality of Drugs &amp; Cosmetics, manufactured in the State and those marketed in the state. <br> Investigation
                and Prosecution in respect of contravention of legal provisions. <br> Administrative actions. <br> Pre- and post- licensing inspection. <br> Licensing of Drug testing laboratories. <br>
            </p>
        </div>

        <div class="mt-5">
            <h3 class="text-center"><span>Statutory Functions under the Food Safety & Standards Act 2006</span></h3>
            <!-- <div class="text-center float-none float-sm-left pr-sm-4 pb-3">
                <img class="" src="images/inner-img/img2.jpg" width="225" height="150" alt="Second Example picture">
            </div> -->
            <ol style="list-style-type: inherit;">
                <li>
                    The Food Authority and the State Food Safety Authorities shall monitor and verify that the relevant requirements of the law are fulfilled by food business operators at all stage of food business.
                </li>
                <li>
                    Maintain a system of control and other activities including public communication on food safety and risk, food safety surveillance and other monitoring activities covering all stages of food business.
                </li>
                <li>
                    The food Safety Officers shall enforce and execute within their area the provisions of this Act.
                </li>
                <li>
                    The Commissioner of Food Safety and Designated Officer shall exercise the same powers as are conferred on the Food Safety Officer and Follow the same procedure specified in the Act. <br> The Authority responsible for the enforcement
                    of the Act are : <br> 1. Commissioner of Food Safety of the State. <br> 2. Designated Officers <br> 3. Food Safety Officers.
                </li>
            </ol>
        </div>
        <div class="mt-5">
            <h3 class="text-center"><span>Drugs & Food Testing Lab</span></h3>
            <!-- <div class="text-center float-none float-sm-left pr-sm-4 pb-3">
                <img class="" src="images/inner-img/img2.jpg" width="225" height="150" alt="Second Example picture">
            </div> -->
            <p> Drugs &amp; Food Testing Laboratory of the State is located at Kalibadi, Raipur, Where the Analysis of Food &amp; Drugs samples are undertaken. The Laboratory is equipped with the high sophisticated instruments.
            </p>
        </div>
        <div class="mt-5">
            <h3 class="text-center">Table</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sno.</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone no. (Office)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Vikas</td>
                            <td>Sharma</td>
                            <td>vikas.sharma@mail.in</td>
                            <td>011-26793735</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Dhruv</td>
                            <td>Verma</td>
                            <td>dhruv.verma@mail.in</td>
                            <td>011-26793736</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Shalini</td>
                            <td>Gupta</td>
                            <td>shalini.gupta@mail.in</td>
                            <td>011-26793737</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Preeti</td>
                            <td>Aggarwal</td>
                            <td>preeti.aggarwal@mail.in</td>
                            <td>011-26793738</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Neha</td>
                            <td>Gupta</td>
                            <td>neha.gupta@mail.in</td>
                            <td>011-26793739</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>