<div class="my-5" id="b-homedb">
    <h1><img src="assets/images/icons/cg.png" alt="" style="height:40px;"> About Chhattisgarh</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 item">
                <div class="card-body">
                    <img src="assets/images/cg.svg" alt="" style="width: 100%;height:550px;">
                </div>
            </div>
            <div class="card col-md-6 col-sm-6">
                <div class="card-body">
                    <img src="assets/images/big/AboutCG.jpg" alt="" style="width: 100%;height:250px;"> &nbsp;
                    <p>Chhattisgarh is the <strong> 10th </strong> largest state in India with an area of
                        <strong>135,190 sq-km.</strong> Chhattisgarh is the <strong>16th</strong> largest state in terms of population which is approximately equal to <strong>2,08,00,000</strong>. The native language of people of Chhattisgarh is Chhattisgarhi.
                        Chhattisgarh was carved out of Madhya Pradesh in
                        <strong>01 November, 2000</strong> with its <strong>16 Chhattisgarhi</strong> speaking districts. It is an important hub for the production of steel and electrical power in India, producing about <strong>15%</strong> of the total
                        steel produced in India. It is surrounded by seven states : Madhya Pradesh, Maharashtra, Andhra Pradesh, Telangana, Orissa, Jharkhand and Uttar Pradesh.
                    </p>
                    <p>
                        Capital of Chhattisgarh is <strong>Raipur</strong> which is the center of all the trade, economy and administration. The native language is <strong>Chhattisgarhi</strong> but Hindi is more prominent here. Chhattisgarh is mainly
                        famous for its agriculture accounting for about 80% of the work force. It is also known as
                        <strong>Dhan
                            Ka Katora</strong> (meaning Bowl Of Rice) for the production of Rice.
                    </p>
                    <p>
                        Chhattisgarh borders the states of Madhya Pradesh in the northwest, Maharashtra in the west, Andhra Pradesh in the south, Orissa in the east, Jharkhand in the northeast, Telangana in the south and Uttar Pradesh in the north.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="my-5" id="b-homedb">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-md-4 col-sm-6">
                    <div class="card-header text-center"> <i class="fa fa-globe" aria-hidden="true"> Geography </i>
                    </div>
                    <div class="card-body">
                        <img src="assets/images/big/geo.jpg" alt="" style="width: 100%;height: 250px;"> &nbsp;
                        <p> Most part of Chhattisgarh is covered with hills in northern and southern parts, but the central part of Chhattisgarh is fertile plain. About 44% of the state is covered by moist and deciduous forests of the Eastern Highlands Forests.
                        </p>
                        <p>The northern part of the state touches the great Indo-Gangetic plain. Rihand River, which is one of the tributaries of the River Ganga, flows through this area. The east end of the Satpura Extent and the hesperian bounds of the
                            Chota Nagpur Upland contour an east-west course of hills that line the Mahanadi River basin from the Indo-Gangetic plains.
                        </p>

                    </div>
                </div>
                <div class="card col-md-4 col-sm-6">
                    <div class="card-header text-center"><i class="fa fa-users" aria-hidden="true"> Culture </i>
                    </div>
                    <div class="card-body">
                        <img src="assets/images/big/culture.jpg" alt="" style="width: 100%;height: 250px;"> &nbsp;
                        <p> Chhattisgarh's culture is famous for its performing arts. As Chhattisgarh is in the heart of India, it has been influenced by the folk and performing arts of various forms of other states. Chhattisgarh has many tribal groups among
                            which some are very primitive. All these tribal communities have various dance as well as art forms of their own.
                        </p>

                        <p>The state also hosts religious sects including Satnami Panth, Kabirpanth, Ramnami Samaj, and others. Ratanpur is significant for the Mahamaya Temple. Champaran is a small town with religious significance as it is the place of birth
                            of the Saint Vallabhacharya, significant as a pilgrimage site for the community of Gujarati people. Oriya culture is also prominent in the eastern parts of Chhattisgarh as it borders the state Orissa.
                        </p>
                    </div>
                </div>
                <div class="card col-md-4 col-sm-6">

                    <div class="card-header text-center"><i class="fa fa-money" aria-hidden="true"> Economy
                        </i>
                    </div>
                    <div class="card-body ">
                        <img src="assets/images/big/economy.jpg" alt="" style="width: 100%;height: 250px;"> &nbsp;
                        <p>
                            This mainly comprises of agriculture, electrical power and steel production. Chhattisgarh's gross domestic product for the year 2010 is estimated to be Rs 60,079 Crores. The economy of Chhattisgarh has boomed rapidly in the recent years with a growth
                            rate of about 11.49% in Gross Domestic Product for the period 2009–2010.The factors affecting such a high growth rate are due to the growth in agricultural and industrial production.
                        </p>
                        <p>
                            Export of goods is also one of the important spheres of economy in Chhattisgarh which accounts to Rs. 1,766 Crore (2009-2010). The main hub for export is Bhilai (for export of steel) which adds up to 75% of total exports and remaining comes from Bhanpuri,
                            Urla and Sirgitti
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>