<div class="my-5" id="b-homedb">
    <h1>About Chhattisgarh</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 item">
                <div class="card-body">
                    <img src="assets/images/big/AboutCG.jpg" alt="" style="width: 100%;height: 450px;">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 item">
                <div class="card-body">
                    <p>Chhattisgarh is the <strong> 10th </strong> largest state in India with an area of
                        <strong>135,190 sq-km.</strong> Chhattisgarh is the <strong>16th</strong> largest state in terms of population which is approximately equal to <strong>2,08,00,000</strong>. The native language of people of Chhattisgarh is Chhattisgarhi.
                        Chhattisgarh was carved out of Madhya Pradesh in
                        <strong>01 November, 2000</strong> with its <strong>16 Chhattisgarhi</strong> speaking districts. It is an important hub for the production of steel and electrical power in India, producing about <strong>15%</strong> of the total
                        steel produced in India. It is surrounded by seven states : Madhya Pradesh, Maharashtra, Andhra Pradesh, Telangana, Orissa, Jharkhand and Uttar Pradesh.
                    </p>
                    <p>
                        Capital of Chhattisgarh is <strong>Raipur</strong> which is the center of all the trade, economy and administration. The native language is <strong>Chhattisgarhi</strong> but Hindi is more prominent here. Chhattisgarh is mainly
                        famous for its agriculture accounting for about 80% of the work force. It is also known as
                        <strong>Dhan
                            Ka Katora</strong> (meaning Bowl Of Rice) for the production of Rice.
                    </p>
                    <p>
                        Chhattisgarh borders the states of Madhya Pradesh in the northwest, Maharashtra in the west, Andhra Pradesh in the south, Orissa in the east, Jharkhand in the northeast, Telangana in the south and Uttar Pradesh in the north.
                    </p>

                </div>
            </div>
        </div>
    </div>


    <div class="my-5" id="b-homedb">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-md-4 col-sm-6">
                    <div class="card-header text-center"> <i class="fa fa-globe" aria-hidden="true"> Geography </i>
                    </div>
                    <div class="card-body">
                        <p> Most part of Chhattisgarh is covered with hills in northern and southern parts, but the central part of Chhattisgarh is fertile plain. About 44% of the state is covered by moist and deciduous forests of the Eastern Highlands Forests.</p>
                        <ul class="text-center">
                            <li>State animal - Van Bhainsa (Wild Buffalo)</li>
                        </ul>
                        <ul class="text-center">
                            <li>State bird – Pahari Myna, (Hill Myna)</li>
                        </ul>
                        <ul class="text-center">
                            <li>State tree – Sal, (Sarai)</li>
                        </ul>
                        <p>The northern part of the state touches the great Indo-Gangetic plain. Rihand River, which is one of the tributaries of the River Ganga, flows through this area. The east end of the Satpura Extent and the hesperian bounds of the
                            Chota Nagpur Upland contour an east-west course of hills that line the Mahanadi River basin from the Indo-Gangetic plains.
                        </p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 item">
                    <div class="card-header text-center"><i class="fa fa-subway" aria-hidden="true"> Transport</i></div>
                    <div class="card-body">
                        <p>Chhattisgarh has an excellent means of transport which includes transportation by road, railways and air.</p>
                        <ul class="text-center">
                            <li><i class="fa fa-bus" aria-hidden="true"> </i> Roadways</li>
                        </ul>
                        <p> Total length of roads in Chhattisgarh is about 45,988 km which includes 11 national highways(2,184 km), state highways(3,611 km), district roads ( 8,031 km) and rural roads(27,566 km). (Data as of 2008-2009) </p>
                        <p>Chhattisgarh has an excellent means of transport which includes transportation by road, railways and air.</p>
                        <ul class="text-center">
                            <li><i class="fa fa-train" aria-hidden="true"></i> Railways</li>
                        </ul>
                        <p> Chhattisgarh has a good rail network connecting all the major cities. The rail network of the state is centered at Bilaspur, which is the zonal headquarter of South Eastern Central Railway. The main rail junctions are Bilaspur,Raipur
                            and Durg which are well connected with all the major cities of India.</p>
                        <ul class="text-center">
                            <li><i class="fa fa-plane" aria-hidden="true"></i> Airlines</li>
                        </ul>
                        <p> Air connectivity of Chhattisgarh is low. Raipur is the only commercial operating point in the state, that too provides only domestic flights across the country. Chhattisgarh does not have international connectivity in terms of
                            airlines. </p>
                    </div>
                </div>

                <div class="card col-md-4 col-sm-6">
                    <div class="card-header text-center"><i class="fa fa-users" aria-hidden="true"> Culture </i></div>
                    <div class="card-body">
                        <p> Chhattisgarh's culture is famous for its performing arts. As Chhattisgarh is in the heart of India, it has been influenced by the folk and performing arts of various forms of other states. Chhattisgarh has many tribal groups among
                            which some are very primitive. All these tribal communities have various dance as well as art forms of their own.
                        </p>

                        <p>The state also hosts religious sects including Satnami Panth, Kabirpanth, Ramnami Samaj, and others. Ratanpur is significant for the Mahamaya Temple. Champaran is a small town with religious significance as it is the place of birth
                            of the Saint Vallabhacharya, significant as a pilgrimage site for the community of Gujarati people. Oriya culture is also prominent in the eastern parts of Chhattisgarh as it borders the state Orissa.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="my-5" id="b-homedb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card text-black h-100 ">
                        <div class="card-header text-center"><i class="fa fa-graduation-cap" aria-hidden="true">
                                Education </i>
                        </div>
                        <div class="card-body ">
                            <p>
                                According to the census, 2011, the literacy rate in Chhattisgarh's was at 71.04% which has improved considerably from census, 2001 (64.66%). Male and Female literacy rate as per censes, 2011 are 81.45% and 60.59% respectively.
                            </p>
                            <p>
                                Education in Chhattisgarh is good. There are many universities and colleges that are famous nationally including IIT-Bhilai, IIIT Raipur , NIT Raipur; IIM Raipur; Hidayatullah National Law University, Raipur; RCET, Bhilai etc. Chhattisgarh is mainly famous
                                for the number of engineering colleges which is 49 (till 2011) in total in different cities across the state.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card text-black h-100 ">
                        <div class="card-header text-center"><i class="fa fa-map-marker" aria-hidden="true"> Tourism
                            </i></div>
                        <div class="card-body ">
                            <p>
                                Chhattisgarh is located at the heart of our country. It is endowed with ambient natural diversity and is full of rich cultural heritage. The state has a lot of carved temples, ancient monuments, Buddhist sites, rare wildlife, palaces, caves, waterfalls,
                                hill plateaus and rock paintings.
                            </p>
                            <p>
                                Bastar is famous for its unique ecological and cultural identity. On the other hand Chitrakote Falls, where the Indravati river has fall of about 96 feets. The shape of the fall is like horse shoe curve, and is often said to be as Niagara falls of Chhattisgarh.
                                Similarly the Tirathgarh Falls, is a waterfall of River Kanger steps down from a height of 100 feets in the form of steps of stairs.
                            </p>
                            <p>
                                Other important destinations are the Kangerghat National Park, Keshkal valley, Kutumbsar caves and Kailash caves , which are rich in natural beauty. Also, there are many temples throughout Chhattisgarh which act as great tourist attraction of the state.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card text-black h-100 ">
                        <div class="card-header text-center"><i class="fa fa-map-marker" aria-hidden="true"> Tourism
                            </i></div>
                        <div class="card-body ">
                            <p>
                                Chhattisgarh is located at the heart of our country. It is endowed with ambient natural diversity and is full of rich cultural heritage. The state has a lot of carved temples, ancient monuments, Buddhist sites, rare wildlife, palaces, caves, waterfalls,
                                hill plateaus and rock paintings.
                            </p>
                            <p>
                                Bastar is famous for its unique ecological and cultural identity. On the other hand Chitrakote Falls, where the Indravati river has fall of about 96 feets. The shape of the fall is like horse shoe curve, and is often said to be as Niagara falls of Chhattisgarh.
                                Similarly the Tirathgarh Falls, is a waterfall of River Kanger steps down from a height of 100 feets in the form of steps of stairs.
                            </p>
                            <p>
                                Other important destinations are the Kangerghat National Park, Keshkal valley, Kutumbsar caves and Kailash caves , which are rich in natural beauty. Also, there are many temples throughout Chhattisgarh which act as great tourist attraction of the state.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>