<div class="row">
    <div class="col-md-12">
        <div class="card-header text-center">
            <i class="fa fa-file-text" aria-hidden="true"></i> CG Government Schemes
        </div>
    </div>
</div>

<div class="my-5" id="b-homedb">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="card text-black h-100 ">
                    <div class="card-header text-center"></div>
                    <div class="card-body">

                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="card text-black h-100 ">
                    <div class="card-header text-center">Scheme Description</div>
                    <div class="card-body">
                        <div class="text-container">
                            <h6></h6>
                            <p> </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>