.card-header {
    font-size: 22px;
    color: rgb(243, 242, 247);
    font-weight: bold;
    background-color: #39603D;
}

///////////////////////////////////////////////////////
th {
    background: #39603D;
    font-size: 20px;
    font-weight: bold;
    color: rgb(252, 252, 253);
    text-align: center;
}

td {
    font-size: 16px;
}

p {
    font-size: 16px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 25px;
    color: #0d0952;
    font-weight: 200px;
    text-align: center;
}

/////////////////////// image -hover////////////////////