.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.nav-item:hover {
    color: #3457D3!important;
    border-bottom: 3px solid #927148 !important;
    background: #fff;
}

.active-item {
    color: #3457D3!important;
    border-bottom: 3px solid #927148 !important;
    background: #fff;
}