<div class="my-5" id="b-homedb">
    <h1>Districts of the State</h1>

    <div class="my-5" id="b-homedb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 item">
                    <div class="card-header text-center">Chhattisgarh Map</div>
                    <div class="card-body">
                        <img src="assets/images/Chhattisgarh.svg" alt="" style="width: 100%;height: 350px;">
                    </div>
                </div>
                <div class="item col-md-6 col-sm-6">
                    <div class="card-header text-center">Districts of Raipur Division</div>
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>S.NO.</th>
                                            <th>District Name</th>
                                            <th>District Website</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td>Dhamtari</td>
                                            <td><a href=" http://dhamtari.gov.in">http://dhamtari.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>Gariaband</td>
                                            <td><a href="http://gariaband.gov.in">http://gariaband.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>Raipur</td>
                                            <td><a href="http://raipur.gov.in">http://raipur.gov.in</a></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Balodabazar</td>
                                            <td><a href="http://balodabazar.gov.in">http://balodabazar.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>Mahasamund</td>
                                            <td><a href="http://mahasamund.gov.in">http://mahasamund.gov.in </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-5" id="b-homedb">
        <div class="container-fluid">
            <div class="row">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-header text-center">Districts of Durg Division</div>
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>S.NO.</th>
                                            <th>District Name</th>
                                            <th>District Website</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td>Kawardha Kabirdham</td>
                                            <td><a href="http://kawardha.gov.in">http://kawardha.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>Balod</td>
                                            <td><a href="http://balod.gov.in">http://balod.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>Rajnandgaon</td>
                                            <td><a href="http://rajnandgaon.gov.in">http://rajnandgaon.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Durg</td>
                                            <td><a href="http://durg.gov.in">http://durg.gov.in</a></td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>Bemetara</td>
                                            <td><a href="http://bemetara.gov.in/">http://bemetara.gov.in/ </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6 col-sm-6">
                    <div class="card-header text-center">Districts of Bilaspur Division</div>
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>S.NO.</th>
                                            <th>District Name</th>
                                            <th>District Website</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td>Bilaspur</td>
                                            <td><a href=" http://bilaspur.gov.in">http://bilaspur.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>Mungeli</td>
                                            <td><a href="http://cg.nic.in/mungeli">http://cg.nic.in/mungeli </a></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>Korba</td>
                                            <td><a href="http://korba.gov.in">http://korba.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Janjgir-Champa</td>
                                            <td><a href="http://janjgir-champa.nic.in">http://janjgir-champa.nic.in</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>Raigarh</td>
                                            <td><a href="http://raigarh.gov.in">http://raigarh.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>6.</td>
                                            <td>Gaurela-Pendra-Marwahi</td>
                                            <td>
                                                <a href=""> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-5" id="b-homedb">
        <div class="container-fluid">
            <div class="row">
                <div class="item col-md-6 col-sm-6">
                    <div class="card-header text-center">Districts of Surguja Division</div>
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>S.NO.</th>
                                            <th>District Name</th>
                                            <th>District Website</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td>Jashpur</td>
                                            <td><a href="http://jashpur.gov.in">http://jashpur.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>Korea</td>
                                            <td><a href="http://korea.gov.in">http://korea.gov.in</a></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>Surajpur</td>
                                            <td><a href="http://surajpur.gov.in">http://surajpur.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Surguja</td>
                                            <td><a href="http://surguja.gov.in">http://surguja.gov.in</a></td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>Balrampur</td>
                                            <td><a href="http://balrampur.gov.in">http://balrampur.gov.in </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="item col-md-6 col-sm-6">
                    <div class="card-header text-center">Districts of Bastar Division</div>
                    <div class="card-body">
                        <div class="mt-5">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>S.NO.</th>
                                            <th>District Name</th>
                                            <th>District Website</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td>Bijapur</td>
                                            <td><a href="http://bijapur.gov.in">http://bijapur.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>Sukma</td>
                                            <td><a href="http://sukma.gov.in">http://sukma.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>Dantewada</td>
                                            <td><a href="http://dantewada.gov.in">http://dantewada.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Bastar</td>
                                            <td><a href="http://bastar.gov.in">http://bastar.gov.in</a></td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>Kondagaon</td>
                                            <td><a href="http://kondagaon.gov.in">http://kondagaon.gov.in </a></td>
                                        </tr>
                                        <tr>
                                            <td>6.</td>
                                            <td>Kanker</td>
                                            <td><a href="http://kanker.gov.in">http://kanker.gov.in </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>