<div class="my-5" id="b-homedb">
    <h1>Districts of the State</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 item">
                <div class="card-header text-center">Chhattisgarh Map</div>
                <div class="card-body">
                    <img src="assets/images/Chhattisgarh.svg" alt="" style="width: 100%;height:550px;">
                    <!-- <a target="_blank" href="http://raipur.gov.in/"><img class="card-img-top" src="assets/images/big/raipur.jpg " alt="" style="width: 100%;height: 350px;"></a> -->
                </div>
            </div>

            <div class="col-md-6 col-sm-6 item">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Division</th>
                                <th scope="col">District Name</th>
                                <th scope="col">District Website</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bastar</td>
                                <td>Bijapur</td>
                                <td><a title="Bijapur(External website that opens in a new window)" href="http://bijapur.gov.in/" target="_blank" rel="noopener noreferrer">http://bijapur.gov.in </a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Sukma</td>
                                <td><a title="Sukma(External website that opens in a new window)" href="http://sukma.gov.in/" target="_blank" rel="noopener noreferrer">http://sukma.gov.in </a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Dantewada</td>
                                <td><a title="Dantewada(External website that opens in a new window)" href="http://dantewada.gov.in/" target="_blank" rel="noopener noreferrer">http://dantewada.gov.in
                                    </a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Bastar</td>
                                <td><a title="Bastar(External website that opens in a new window)" href="http://bastar.gov.in/" target="_blank" rel="noopener noreferrer">http://bastar.gov.in </a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Kondagaon</td>
                                <td><a title="Kondagaon(External website that opens in a new window)" href="http://kondagaon.gov.in/" target="_blank" rel="noopener noreferrer">
                                        http://kondagaon.gov.in
                                    </a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Narayanpur</td>
                                <td><a title="Narayanpur(External website that opens in a new window)" href="http://narayanpur.gov.in/" target="_blank" rel="noopener noreferrer">http://narayanpur.gov.in
                                    </a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Kanker</td>
                                <td><a title="Kanker(External website that opens in a new window)" href="http://kanker.gov.in/" target="_blank" rel="noopener noreferrer">http://kanker.gov.in </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Durg</td>
                                <td>Kawardha</td>
                                <td><a title="Kabirdham(External website that opens in a new window)" href="http://kawardha.gov.in/" target="_blank" rel="noopener noreferrer">http://kawardha.gov.in
                                    </a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Rajnandgaon</td>
                                <td><a title="Rajnandgaon(External website that opens in a new window)" href="http://rajnandgaon.gov.in/" target="_blank" rel="noopener noreferrer">http://rajnandgaon.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Balod</td>
                                <td><a title="Balod(External website that opens in a new window)" href="http://balod.gov.in/" target="_blank" rel="noopener noreferrer">http://balod.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Durg</td>
                                <td><a title="Durg(External website that opens in a new window)" href="http://durg.gov.in/" target="_blank" rel="noopener noreferrer">http://durg.gov.in </a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Bemetara</td>
                                <td><a title="Bemetara(External website that opens in a new window)" href="http://bemetara.gov.in/" target="_blank" rel="noopener noreferrer">http://bemetara.gov.in/
                                    </a></td>
                            </tr>
                            <tr>
                                <td>Raipur</td>
                                <td>Dhamtari</td>
                                <td><a title="Dhamtari(External website that opens in a new window)" href="http://dhamtari.gov.in/" target="_blank" rel="noopener noreferrer">http://dhamtari.gov.in
                                    </a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Gariaband</td>
                                <td><a title="Gariaband(External website that opens in a new window)" href="http://gariaband.gov.in/" target="_blank" rel="noopener noreferrer">http://gariaband.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Raipur</td>
                                <td><a title="Raipur(External website that opens in a new window)" href="http://raipur.gov.in/" target="_blank" rel="noopener noreferrer">http://raipur.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Baloda Bazar</td>
                                <td><a title="Baloda Bazar(External website that opens in a new window)" href="http://balodabazar.gov.in/" target="_blank" rel="noopener noreferrer">http://balodabazar.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Mahasamund</td>
                                <td><a title="Mahasamund(External website that opens in a new window)" href="http://mahasamund.gov.in/" target="_blank" rel="noopener noreferrer">http://mahasamund.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Bilaspur</td>
                                <td>Bilaspur</td>
                                <td><a title="Bilaspur(External website that opens in a new window)" href="http://bilaspur.gov.in/" target="_blank" rel="noopener noreferrer">http://bilaspur.gov.in
                                    </a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Mungeli</td>
                                <td><a href="http://mungeli.gov.in">http://mungeli.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Korba</td>
                                <td><a title="Korba(External website that opens in a new window)" href="http://korba.gov.in/" target="_blank" rel="noopener noreferrer">http://korba.gov.in </a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Janjgir-Champa</td>
                                <td><a title="Janjgir-Champa(External website that opens in a new window)" href="http://janjgir-champa.nic.in/" target="_blank" rel="noopener noreferrer">http://janjgir-champa.nic.in
                                    </a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Raigarh</td>
                                <td><a title="Raigarh(External website that opens in a new window)" href="http://raigarh.gov.in/" target="_blank" rel="noopener noreferrer">http://raigarh.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Gaurela-Pendra-Marwahi</td>
                                <td><a href="">-</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Surguja</td>
                                <td>Jashpur</td>
                                <td><a title="Jashpur(External website that opens in a new window)" href="http://jashpur.gov.in/" target="_blank" rel="noopener noreferrer">http://jashpur.gov.in </a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Korea</td>
                                <td><a title="Korea(External website that opens in a new window)" href="http://korea.gov.in/" target="_blank" rel="noopener noreferrer">http://korea.gov.in </a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Surajpur</td>
                                <td><a title="Surajpur(External website that opens in a new window)" href="http://surajpur.gov.in/" target="_blank" rel="noopener noreferrer">http://surajpur.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Surguja</td>
                                <td><a title="Surguja(External website that opens in a new window)" href="http://surguja.gov.in/" target="_blank" rel="noopener noreferrer">http://surguja.gov.in</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Balrampur</td>
                                <td><a title="Balrampur(External website that opens in a new window)" href="http://balrampur.gov.in/" target="_blank" rel="noopener noreferrer">http://balrampur.gov.in/</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>